/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2016, 19:33:22
    Author     : Laura
*/
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
}
ul {

    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cce5cc;
}

.li-left {
    float: left;
}
.foco {
    background-color: rgb(220,237,220);
    color: #054414;
    font-family: didact Gothic;
    border-radius: 10px;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    font-size: 20px;
}

.botoes_tipo {
    background-color: #054414;
    border-radius: 5px;
    color: white;
    font-family: didact Gothic;

}

li a {
    vertical-align: -200%;
    font-family: didact gothic;
    font-size: 22px;
    color: #054414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.definicao {
    font-size: 16px;
}
.icon {
    padding-right: 10px;
}
.logo {

    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;

}

.li-right {
    vertical-align: -200%;
    font-family: didact gothic;
    font-size: 22px;
    color: #054414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.tel {
    padding-right: 100px;
}
li img {
    display: block;
}

/* Change the link color to #111 (black) on hover */
.a:hover {
    text-decoration: none;
    color: #054414;
    border-bottom: 2px solid #054414;

}
.text {
    padding-top: 2px;
    text-align: justify;
    font-family: didact Gothic;
    font-size: 18px;
    line-height: 2;
}
.imagem {
    padding-top: 2%;
}
.a_tel {
    text-decoration: none !important;
    color: #054414;
}
.a_tel:hover, a_tel:visited, a_tel:link, a_tel:active  {
    text-decoration: none !important;
    color: #054414;

}
.thumbnail2 {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;

}
#search {
    font-family: didact gothic;
    
}
#search-bar {
    width: 300px;
}
.title {
    font-family: didact gothic;
    font-size: 36px;
    color: #054414;
}
.title_produtos {
    font-family:didact gothic;
    font-size: 30px;
    color: #054414;
    padding-bottom: 2%;
}
.title_saude {
    font-family: didact gothic;
    font-size: 20px;
    color: #054414;
    
}
.botao {
    color: #054414;
    font-family: didact gothic;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-style: solid;
    border-color: rgb(220,237,220);
    font-size: 20px;
    border-radius: 5px;
}
.subtitle {
    font-family: didact gothic;
    font-size: 20px;
    color: #054414;
    text-align: center;

}
.a:visited, a:link, a:active {

    text-decoration: none;
}
.active {
    text-decoration: none !important;
    border-bottom: 2px solid #054414;

    color: #054414 !important;
}

.navbar {
    top: 0px;
    color: #054414;
    padding: 5px;
    background-color: rgb(220,237,220);
}

.botoes {
     
    color: #054414;
    padding: 5px;
    background-color: rgb(220,237,220);
    
}

.p1{
    color: white;

}
.div1 {
    height: 100px;
    width: 100px;
}
.verdeClaro {
    background-color: #416b4b;
}

.verdeEscuro {
    background-color: #054414;
}

.preto {
    background-color: black;
}

td {
    padding: 10px 10px 10px 10px;
    width: 150px;
    height: 200px;
}
img { 
    border-radius: 10px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width:100%;
    background-color: #054414;
    color: white;
    font-family: Didact Gothic;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}
*{
    margin: 0;
    padding: 0;
    
}



.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}